{% extends 'base.html.twig' %}

{% block title %}Hello RegisterUserController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    {# input { border: 1 solid #cfff22} #}
</style>

<div class="example-wrapper">

    {% for message in app.flashes('exito') %}
        <div class="alert alert-success"> {{ message}} </div>
    {% endfor %}

    <h3>    {{miVariable}}   </h3>

    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col" id="name">
                {{ form_row(form.name) }}
            </div>
            <div class="col" id="email">
                {{ form_row(form.email) }}
            </div>
            <div class="col" id="password">
                {{ form_row(form.password) }}
            </div>
            <div class="col" id="Guardar">
                {{ form_row(form.Guardar) }}
            </div>
        </div>
        {# <button type="submit"> enviar</button> #}
    {{ form_end(form) }}
    <a type="button" href="{{path('index')}}">Test</a>
</div>
{% endblock %}
